export KUBECONFIG=$(pwd)/kubeconfig.yaml

FLEET_MANAGEMENT_SECRET="op://Kubernetes Monitoring/K8s Onboarding Fleet Management Token"
FLEET_MANAGEMENT_MANAGER_SECRET="op://Kubernetes Monitoring/K8s Onboarding Fleet Management Manager"
METRICS_SECRET="op://Kubernetes Monitoring/K8s Onboarding Metrics"
LOGS_SECRET="op://Kubernetes Monitoring/K8s Onboarding Logs"

export FLEET_MANAGEMENT_HOST="$(op --account grafana.1password.com read "${FLEET_MANAGEMENT_SECRET}/website")"
export FLEET_MANAGEMENT_USER="$(op --account grafana.1password.com read "${FLEET_MANAGEMENT_SECRET}/username")"
export FLEET_MANAGEMENT_CLUSTER_TOKEN="$(op --account grafana.1password.com read "${FLEET_MANAGEMENT_SECRET}/password")"
export FLEET_MANAGEMENT_MANAGER_TOKEN="$(op --account grafana.1password.com read "${FLEET_MANAGEMENT_MANAGER_SECRET}/password")"
export METRICS_HOST="$(op --account grafana.1password.com read "${METRICS_SECRET}/website")"
export METRICS_USER="$(op --account grafana.1password.com read "${METRICS_SECRET}/username")"
export METRICS_TOKEN="$(op --account grafana.1password.com read "${METRICS_SECRET}/password")"
export LOGS_HOST="$(op --account grafana.1password.com read "${LOGS_SECRET}/website")"
export LOGS_USER="$(op --account grafana.1password.com read "${LOGS_SECRET}/username")"
