export KUBECONFIG=$(pwd)/kubeconfig.yaml

FLEET_MANAGEMENT_SECRET="op://Lab/Fleet Management Cluster Token"
FLEET_MANAGEMENT_MANAGER_SECRET="op://Lab/Fleet Management Manager Token"
METRICS_SECRET="op://Lab/Grafana Cloud Metrics"

export FLEET_MANAGEMENT_HOST="$(op read "${FLEET_MANAGEMENT_SECRET}/website")"
export FLEET_MANAGEMENT_USER="$(op read "${FLEET_MANAGEMENT_SECRET}/username")"
export FLEET_MANAGEMENT_CLUSTER_TOKEN="$(op read "${FLEET_MANAGEMENT_SECRET}/password")"
export FLEET_MANAGEMENT_MANAGER_TOKEN="$(op read "${FLEET_MANAGEMENT_MANAGER_SECRET}/password")"
export METRICS_HOST="$(op read "${METRICS_SECRET}/website")"
export METRICS_USER="$(op read "${METRICS_SECRET}/username")"
export METRICS_TOKEN="$(op read "${METRICS_SECRET}/password")"
