export KUBECONFIG=$(pwd)/kubeconfig.yaml
export FLEET_MANAGEMENT_HOST="$(op read "op://Lab/Fleet Management Cluster Token/website")"
export FLEET_MANAGEMENT_USER="$(op read "op://Lab/Fleet Management Cluster Token/username")"
export FLEET_MANAGEMENT_CLUSTER_TOKEN="$(op read "op://Lab/Fleet Management Cluster Token/password")"
export FLEET_MANAGEMENT_MANAGER_TOKEN="$(op read "op://Lab/Fleet Management Manager Token/password")"
